.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 10px 20px;
    background-color: #ccc;
}

.auth {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.auth p {
    margin: 0 10px;
}

.login {
    display: flex;
}